pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct TableName as FileName, SourceFilesCount as RowsInSource, TargetFileAuditAsRecCount as RowsInTarget, Status, CAST(LoadDate AS DATE) as LoadDate\nfrom CompareRecon WHERE CAST(LoadDate AS DATE) = CAST(GETDATE() AS DATE);",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-16.centralindia.logic.azure.com:443/workflows/29876a2e4ba144aea2c05a2fe5d2d9ce/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=NaTlrhkdm_-MNDlDK3MSvxfZBZNSA-IE3SkvpzEMMFw",
					"body": {
						"value": "@json(concat('{ \n   \"DF-Name\": \"', pipeline().DataFactory, '\", \n   \"PL-Name\": \"', pipeline().Pipeline, '\", \n   \"lookupResult\": ', string(activity('Lookup1').output), '}'))",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-09-17T07:14:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}